footer {
  background: #7E7E7E;
  color: #fff;
  padding: 30px 0 15px;
  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    @include media-breakpoint-up(lg) {
      font-size: 1rem;
      flex-direction: row;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
    }
    a {
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      border-bottom: 1px solid #fff;
      display: inline-block;
      line-height: 0.95;
      text-decoration: none;
      &:not(:last-child) {
        margin-bottom: 20px;
        @include media-breakpoint-up(lg) {
          margin-bottom: 0;
        }
      }
      @include media-breakpoint-up(lg) {
        font-size: 14px;
      }
    }
  }
  .phone {
    align-self: center;
    a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
  .copyright {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
  }
}