.modal.lead {
  label {
    font-weight: 400;
    font-size: 1rem;
  }
  input {
    margin-bottom: 1rem;
  }
  .button {
    display: inline-block;
    margin: .5rem 0 0;
    border: none;
  }
  h5 {
    font-weight: 600;
  }
}