@import 'config';

// CUSTOM USER STYLES & IMPORTS
@import 'general';

@import 'header';
@import 'slider';
@import 'first-screen';
@import 'how-works';
@import 'advantages';
@import 'comfort';
@import 'master-list';
@import 'review';
@import 'order';
@import 'footer';
@import 'form';