.master-list {
  .masters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .master {
      text-align: center;
      padding: 0 20px;
      margin-bottom: 40px;
      @include media-breakpoint-up(lg) {
        padding: 0;
        margin-bottom: 0;
      }
      p {
        line-height: 1.5;
      }
      img {
        width: 100px;
        height: 100px;
        border-radius: 4rem;
        margin-bottom: 10px;
      }
      .name {
        font-size: 20px;
        font-weight: 600;
      }
      .experience {
        font-size: 14px;
        font-weight: 600;
        color: #898989;
      }
      .rating-box {
        display: initial;
      }
      .rating {
        font-size: 14px;
      }
      .review-count {
        font-size: 14px;
        font-weight: 300;
      }
      p {
        margin: 0;
      }
    }
  }
}